@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", "sans-serif";
}

.logo,
.nosotros-img {
  width: calc(100% - 8.5%);
  margin-inline: auto;
  height: auto;
}
@media (width>= 720px) {
  .logo {
    width: 100%;
    margin: 0;
  }
}
.title {
  @apply text-3xl uppercase text-orange-400 font-bold text-center mb-12;
}

.guitarra {
  width: 100%;
  max-width: 8rem;
  height: auto;
}

.btn{
  @apply bg-yellow-400 font-bold text-white uppercase py-2 px-8 rounded-lg hover:bg-yellow-500 hover:transition-colors;
}
